<div class="form-content">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Especialista</label>
                        <input type="text" [value]="turno.especialista.nombre + ' ' + turno.especialista.apellido" id="dni" name="dni" class="form-control form-style"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Especialidad</label>
                        <input type="text" [value]="turno.especialidad" id="dni" name="dni" class="form-control form-style"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Fecha</label>
                        <input type="text" [value]="fecha" id="dni" name="dni" class="form-control form-style"/>
                    </div>
                </div>
            </div>
</div>