<app-loading *ngIf="cargando"></app-loading>
  <form [formGroup]="turnoForm">
    <app-progress #progress>
        <app-progress-step>
          <div class="text-center mb-4">
            <h1>Profesionales</h1>        
          </div>
          <app-tabla-users-turno *ngIf="listEspecialistas" [listEspecialistas]="listEspecialistas" (especialista)="onSelecEspecialista($event, progress)"></app-tabla-users-turno>
          <div class="d-flex justify-content-center">
            <div class="col-8">
              <button progressStepPrev>Volver</button>
            </div>
          </div>
        </app-progress-step>
        <app-progress-step>

          <div class="text-center mb-4">
            <h1>Empecemos</h1>        
          </div>
          <div class="d-flex justify-content-center mb-1">
            <div class="col-9 mb-3" *ngIf="this.f['especialista'].value as especialista">
              <label>Seleccione una especialidad...</label>
              <select (change)="onChangeEsp(progress)" formControlName="especialidad" class="input" id="especialidad" [ngClass]="{'is-invalid': isNotValidField('especialidad'), 'is-valid': !isNotValidField('especialidad') && this.f['especialidad'].touched}" required>
                <option *ngFor="let especialidad of especialista.especialidad" class="input test" [value]="especialidad">{{especialidad}}</option>
              </select>
              <div class="invalid-feedback">
                  {{getErrorMessage('especialidad')}}
              </div>
           </div>
          </div>
        </app-progress-step>
        <app-progress-step>
          <div class="text-center mb-4">
            <h1>Porfavor seleccione una fecha...</h1>        
          </div>
          <app-calendar (fechaSeleccionada)="onSelecFecha($event)"></app-calendar>
          <div class="d-flex justify-content-center">
            <div class="col-6 mb-3">
              <button progressStepPrev>Volver</button>
            </div>
            <div class="col-6 mb-3">
              <button progressStepNext>Siguiente</button>
            </div>
          </div>
        </app-progress-step>
        <app-progress-step>
          <div *ngIf="(paciente | async) as user">
            <h1 class="text-center">Confirmar datos</h1>
            <app-completar-soli-turno *ngIf="turno.fecha" [paciente]="user" [turno]="turno" (turnoEmit)="getTurnoConPaciente($event)"></app-completar-soli-turno>
            <div class="d-flex justify-content-center">
              <div class="col-6 mb-3">
                <button progressStepPrev>Volver</button>
              </div>
              <div class="col-6 mb-3">
                <button progressStepNext (click)="enviarTurno()">Confirmar</button>
              </div>
            </div>
            <div class="col-12 mb-3">
              <p-messages></p-messages>
            </div>
          </div>
        </app-progress-step>
      </app-progress>
  </form>