<app-loading *ngIf="loading"></app-loading>
<div class="main-card mb-3 card">
    <div class="card-header">MIS TURNOS
        <div class="btn-actions-pane-right">
            <div class="search-wrapper" [ngClass]="{'active': activeSearch}">
                <div class="input-holder">
                    <input type="text" [(ngModel)]="filter" (change)="onFilter()" class="search-input" placeholder="Type to search">
                    <button class="search-icon" (click)="activeSearch = true"><span></span></button>
                </div>
                <button class="close" (click)="activeSearch = false"></button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr>
                <th class="text-center">Paciente</th>
                <th class="text-center">Especialidad</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Estado</th>
                <th class="text-center"> - </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let turno of turnos">
                <td class="text-center">
                    <div>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left flex2">
                                    <img width="40" class="rounded-circle" [src]="turno.paciente.pathImg">
                                    <div class="widget-heading">{{turno.paciente.nombre}} {{turno.paciente.apellido}}</div>
                                    <div class="widget-subheading opacity-7">{{turno.paciente.email}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="text-center text-muted">{{turno.especialidad}}</td>
                <td class="text-center">{{turno.fecha}}</td>
                <td class="text-center">
                </td>
                <td class="text-center">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- 
<div *ngIf="user.rol == 'especialista' &&  displayModalAtender">
    <p-dialog [(visible)]="displayModalAtender" [modal]="true" [style]="{width: '50vw', height: '40vw'}"
    [draggable]="false" [resizable]="false" styleClass="p-fluid">
        <app-atender-paciente [turno]="turnoSelecc" (turnoWithHistoriaClin)="finalizarTurno($event)"></app-atender-paciente>
    </p-dialog>
</div> -->