<div class="d-flex justify-content-center mb-1">
    <div class="col-10 mb-3">
      <div class="cont">
        <div class="list">
          <!-- <h3>Teammates List</h3> -->
          <div *ngFor="let esp of listEspecialistas" class="list-item" (click)="onClick(esp)" [ngClass]="{'active': esp.seleccionado}">
            <div class="image-box">
              <img [src]="esp.pathImg" alt="avatar">
            </div>
            <div class="content">
              <h4>{{esp.nombre}} {{esp.apellido}}</h4>
              <p>{{esp.especialidad}}</p>
            </div>
          </div>
        </div>
      </div>
   </div>
  </div>