<div class="d-flex justify-content-center mb-1">
    <div class="col-10 mb-3">
      <div class="cont">
        <div class="list">
          <!-- <h3>Teammates List</h3> -->
          <div class="list-item" (click)="test()" [ngClass]="{'active': prueba}">
            <div class="image-box">
              <img src="https://i.pravatar.cc/100?img=59" alt="avatar">
            </div>
            <div class="content">
              <h4>Ronald Raiman</h4>
              <p>Digital Artist</p>
            </div>
          </div>
          <div class="list-item">
            <div class="image-box">
              <img src="https://i.pravatar.cc/100?img=49" alt="avatar">
            </div>
            <div class="content">
              <h4>Sarah Noah</h4>
              <p>Digital Marketing</p>
            </div>
          </div>
          <div class="list-item">
            <div class="image-box">
              <img src="https://i.pravatar.cc/100?img=36" alt="avatar">
            </div>
            <div class="content">
              <h4>Elizabeth Brown</h4>
              <p>Front-end Developer</p>
            </div>
          </div>
          <div class="list-item">
            <div class="image-box">
              <img src="https://i.pravatar.cc/100?img=13" alt="avatar">
            </div>
            <div class="content">
              <h4>Jack Json</h4>
              <p>Back-end Developer</p>
            </div>
          </div>
          <div class="list-item">
            <div class="image-box">
              <img src="https://i.pravatar.cc/100?img=1" alt="avatar">
            </div>
            <div class="content">
              <h4>Jennifer Lopez</h4>
              <p>UI/UX Designer</p>
            </div>
          </div>
        </div>
      </div>
   </div>
  </div>