<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">Active Users
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <button class="btn btn-accent">Nuevo</button>
                    </div>
                </div>
            </div>
            <app-tabla-usuarios *ngIf="users" [listUser]="users"></app-tabla-usuarios>
        </div>
    </div>
    
    <div class="col mb-3">
        <app-crear-usuario></app-crear-usuario>
    </div>
</div>
