<div class="row justify-content-center">
    <div class="offset-3 col-6 mb-5">
        <h1>Completar Turno</h1>
    </div>
    <form [formGroup]="evaluacionForm">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Diagnostico</label>
                    <input formControlName="diagnostico" type="text" class="form-control form-style input"/>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Comentario</label>
                    <textarea formControlName="comentario" class="form-control form-style input"></textarea>
                </div>
            </div>
        </div>
    </form>
    <div class="col-12">
        <h1>Historia Clínica</h1>
    </div>
    <form [formGroup]="historiaClinicaForm">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Altura</label>
                    <input formControlName="altura" type="text" class="form-control form-style input"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Peso</label>
                    <input formControlName="peso" type="text" class="form-control form-style input"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Temperatura</label>
                    <input formControlName="temperatura" type="text" class="form-control form-style input"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Presión</label>
                    <input formControlName="presion" type="text" class="form-control form-style input"/>
                </div>
            </div>
        </div>
    </form>
    <div *ngFor="let campoDin of camposDinamicos; let i = index" [attr.data-index]="i">
        <div class="row mb-4">
            <div class="col-4">
                <label>Campo</label>
                <input [(ngModel)]="campoDin.clave" placeholder="Nombre del nuevo campo..." type="text" class="form-control form-style input"/>
            </div>
            <div class="col-4">
                <label>Valor</label>
                <input [(ngModel)]="campoDin.valor" placeholder="Valor del nuevo campo..." type="text" class="form-control form-style input"/>
            </div>
            <div class="col-4 mt-3" *ngIf="i == 0">
                <div class="row">
                    <div class="col-6">
                        <button (click)="agregarCampoDinamico()" class="bi bi-plus-lg btn btn-light"></button>
                    </div>
                    <div class="col-6">
                        <button (click)="quitarCampoDinamico()" class="bi bi-dash-lg btn btn-light"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <button [disabled]="historiaClinicaForm.invalid || evaluacionForm.invalid" class="btn btn-accent" (click)="finalizarTurno()">Finalizar</button>
    </div>
</div>