<app-loading *ngIf="cargando"></app-loading>
<div class="form-header">
    <h1>Register Account</h1>
</div>
<div class="form-content">
    <form [formGroup]="regisForm">
        
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="dni">DNI</label>
                        <input type="text" formControlName="dni" id="dni" name="dni" class="form-control form-style" [ngClass]="{'is-invalid': isNotValidField('dni'), 'is-valid': !isNotValidField('dni') && this.f['dni'].touched}" required/>
                        <div class="invalid-feedback">
                            {{getErrorMessage('dni')}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="dni">EDAD</label>
                        <input type="number" formControlName="edad" id="edad" name="edad" class="form-control form-style" [ngClass]="{'is-invalid': isNotValidField('edad'), 'is-valid': !isNotValidField('edad') && this.f['edad'].touched}" required/>
                        <div class="invalid-feedback">
                            {{getErrorMessage('edad')}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" formControlName="nombre" id="nombre" name="nombre" class="form-control form-style" [ngClass]="{'is-invalid': isNotValidField('nombre'), 'is-valid': !isNotValidField('nombre') && this.f['nombre'].touched}" required/>
                        <div class="invalid-feedback">
                            {{getErrorMessage('nombre')}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" formControlName="apellido" id="apellido" name="apellido" class="form-control form-style" [ngClass]="{'is-invalid': isNotValidField('apellido'), 'is-valid': !isNotValidField('apellido') && this.f['apellido'].touched}" required/>
                        <div class="invalid-feedback">
                            {{getErrorMessage('apellido')}}
                        </div>
                    </div>
                </div>
            </div>
        <div class="form-group">
            <label for="rol">Tipo de usuario</label>
            <select formControlName="rol" class="input" id="inputGroupSelect01" (change)="onChangeSelect()" [ngClass]="{'is-invalid': isNotValidField('rol'), 'is-valid': !isNotValidField('rol') && this.f['rol'].touched}" required>
              <option class="input test" value="paciente">Paciente</option>
              <option class="input test" value="especialista">Especialista</option>
            </select>
            <div class="invalid-feedback">
                {{getErrorMessage('rol')}}
            </div>
          </div>
        <div class="form-group" *ngIf="this.f['rol'].value == 'paciente'">
            <label for="obraSocial">Obra social</label>
            <input type="text" formControlName="obraSocial" id="obraSocial" name="obraSocial" class="form-control form-style" [ngClass]="{'is-invalid': isNotValidField('obraSocial'), 'is-valid': !isNotValidField('obraSocial') && this.f['obraSocial'].touched}" required/>
            <div class="invalid-feedback">
                {{getErrorMessage('obraSocial')}}
            </div>
        </div>
        <div class="form-group" *ngIf="this.f['rol'].value == 'especialista'">
            <label for="especilidad">Especialidad</label>
            <select formControlName="especialidad" class="input" id="especialidad" [ngClass]="{'is-invalid': isNotValidField('especialidad'), 'is-valid': !isNotValidField('especialidad') && this.f['especialidad'].touched}" required>
                <option class="input test" value="paciente">Médico clínico</option>
                <option class="input test" value="especialista">Traumatólogo</option>
            </select>
            <div class="invalid-feedback">
                {{getErrorMessage('especialidad')}}
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" name="email" class="form-control form-style" [ngClass]="{'is-invalid': isNotValidField('email'), 'is-valid': !isNotValidField('email') && this.f['email'].touched}" required/>
            <div class="invalid-feedback">
                {{getErrorMessage('email')}}
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" name="password" class="form-control form-style" [ngClass]="{'is-invalid': isNotValidField('password'), 'is-valid': !isNotValidField('password') && this.f['password'].touched}" required/>
            <div class="invalid-feedback">
                {{getErrorMessage('password')}}
            </div>
        </div>
        <div class="file-upload">
            <div class="file-upload-select">
                <div class="file-select-button" >Foto</div>
                <div class="file-select-name" (click)="uploadFile()">{{archivoMsj}}</div> 
                <input #file type="file" name="file-upload-input" id="file-upload-input" (change)="onChangeFile()">
            </div>
        </div>
        <div [hidden]="this.f['rol'].value != 'paciente'" class="file-upload" style="margin-top: 1rem;">
            <div class="file-upload-select">
                <div class="file-select-button" >Foto</div>
                <div class="file-select-name" (click)="uploadFile()">{{archivoMsj}}</div> 
                <input type="file" name="file-upload-input" id="file-upload-input" (change)="onChangeFile()">
            </div>
        </div>
        <div class="form-group">
            <label class="form-remember">{{(errorMsj | async)}}</label>
        </div>
        <!-- <div class="form-group"><label for="username">Username</label><input type="text" name="username" required="required" /></div>
        <div class="form-group"><label for="password">Password</label><input type="password" id="password" name="password" required="required" /></div>
        <div class="form-group"><label for="cpassword">Confirm Password</label><input type="password" id="cpassword" name="cpassword" required="required" /></div>
        <div class="form-group"><label for="email">Email Address</label><input type="email" name="email" required="required" /></div>
        <div class="form-group"><button type="submit">Register</button></div> -->
        <button [disabled]="regisForm.invalid" type="submit" (click)="onRegister()">Register</button>
    </form>
</div>