$semibold: 500;
$bold: 700;
$regular: 400;

// Colors
$black: #000000;
$gray: rgba($black, 0.6);
$white: #FFFFFF;
$accent: #4285F4;


label {
    display: block;
    margin: 0 0 10px;
    color: $gray;
    font-size: 12px;
    font-weight: $semibold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;

  }



input {
    outline: none;
    display: block;
    background: rgba($black, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    height: 100%;
    color: $gray;
    font-family: inherit;
    font-size: inherit;
    font-weight: $semibold;
    line-height: inherit;
    transition: 0.3s ease;
  }

  button {
    outline: none;
    background: $accent;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: $white;
    font-family: inherit;
    font-size: inherit;
    font-weight: $semibold;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;

  }

  h1 {
    padding: 4px 0;
    color: $accent;
    font-size: 24px;
    font-weight: $bold;
    text-transform: uppercase;
  }

  .form-remember {
    font-size: 12px;
    font-weight: $regular;
    color: red;
    letter-spacing: 0;
    text-transform: none;
    text-align: center;
    input[type='checkbox'] {
      display: inline-block;
      width: auto;
      margin: 0 10px 0 0;
    }
  }

  .form-recovery {
    color: $accent;
    font-size: 12px;
    text-decoration: none;
  }

  .is-invalid{
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
  }

  .error-text{
    color: #dc3545;
  }

  
.btn-img{
  background-repeat:no-repeat;
  height:100px;
  width:120px;
  background-size: cover;
  border-radius: 10px;
  background-position:center;
}
