<div class="form-header">
    <h1>Account Login</h1>
</div>
<div class="form-content">
    <app-loading *ngIf="cargando"></app-loading>
    <form [formGroup]="loginForm">
        <div class="form-group">
            <label for="email">Username</label>
            <input type="text" formControlName="email" id="email" name="email" class="form-control form-style" [ngClass]="{'is-invalid': isNotValidField('email'), 'is-valid': !isNotValidField('email') && this.f['email'].touched}" required/>
            <div class="invalid-feedback">
                {{getErrorMessage('email')}}
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" id="password" name="password" class="form-control form-style is-invalid" [ngClass]="{'is-invalid': isNotValidField('password'), 'is-valid': !isNotValidField('password') && this.f['password'].touched}" required/>
            <div class="invalid-feedback">
                {{getErrorMessage('password')}}
            </div>
        </div>
        <!-- <div class="form-group"><label class="form-remember"><input type="checkbox" />Remember Me</label><a class="form-recovery" href="#">Forgot Password?</a></div> -->
        <div class="form-group">
            <label class="form-remember">{{(errorMsj | async)}}</label>
        </div>
        <div class="form-group"><button [disabled]="loginForm.invalid" type="submit" (click)="onLogin()">Log In</button></div>
    </form>
</div>