<div class="main-card mb-3 card">
    <div class="card-header">MIS TURNOS
        <div class="btn-actions-pane-right">
            <div class="search-wrapper" [ngClass]="{'active': activeSearch}">
                <div class="input-holder">
                    <input type="text" [(ngModel)]="filter" (change)="onFilter()" class="search-input" placeholder="Type to search">
                    <button class="search-icon" (click)="activeSearch = true"><span></span></button>
                </div>
                <button class="close" (click)="activeSearch = false"></button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr>
                <th class="text-center">Especialidad</th>
                <th class="text-center">Especialista</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Estado</th>
                <th class="text-center"> - </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let turno of turnos">
                <td class="text-center">
                    <div *ngIf="user.rol == 'paciente' else especialista" >
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left flex2">
                                    <img width="40" class="rounded-circle" [src]="turno.especialista.pathImg">
                                    <div class="widget-heading">{{turno.especialista.nombre}} {{turno.especialista.apellido}}</div>
                                    <div class="widget-subheading opacity-7">{{turno.especialista.email}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #especialista>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left flex2">
                                    <img width="40" class="rounded-circle" [src]="turno.paciente.pathImg">
                                    <div class="widget-heading">{{turno.paciente.nombre}} {{turno.paciente.apellido}}</div>
                                    <div class="widget-subheading opacity-7">{{turno.paciente.email}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </td>
                <td class="text-center text-muted">{{turno.especialidad}}</td>
                <td class="text-center">{{turno.fecha}}</td>
                <td class="text-center">
                    <div class="badge badge-info" *ngIf="turno.estado == 'pendiente'">Pendiente</div>
                    <div class="badge badge-success" *ngIf="turno.estado == 'realizado'">Completado</div>
                    <div class="badge badge-warning" *ngIf="turno.estado == 'rechazado'">Rechazado</div>
                    <div class="badge badge-danger" *ngIf="turno.estado == 'cancelado'">Cancelado</div>
                </td>
                <td class="text-center">
                    <div *ngIf="turno.estado != 'rechazado' && turno.estado != 'cancelado'">
                            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger">Cancelar</button>                  
                    </div>
                </td>
                <td class="text-center">
                    <div *ngIf="turno.comentario">
                        <td class="text-center">
                            <button class="mr-2 btn-icon btn-icon-only btn btn-primary">Ver</button>                  
                        </td>
                    </div>
                </td>
                <td class="text-center">
                    <div *ngIf="turno.estado == 'realizado'">
                        <button class="mr-2 btn-icon btn-icon-only btn btn-success">Calificar</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>