<app-loading *ngIf="loading"></app-loading>
<div class="main-card mb-3 card">
    <div class="card-header">MIS TURNOS
        <div class="btn-actions-pane-right">
            <div class="search-wrapper" [ngClass]="{'active': activeSearch}">
                <div class="input-holder">
                    <input type="text" [(ngModel)]="filter" (change)="onFilter()" class="search-input" placeholder="Type to search">
                    <button class="search-icon" (click)="activeSearch = true"><span></span></button>
                </div>
                <button class="close" (click)="activeSearch = false"></button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr>
                <th class="text-center">{{headerColumn}}</th>
                <th class="text-center">Especialidad</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Estado</th>
                <!-- <div *ngIf="user.rol == 'especialista'">
                </div> -->
                <th class="text-center">Peso</th>
                <th class="text-center">Altura</th>
                <th class="text-center">Temperatura</th>
                <th class="text-center">Presion</th>
                <th class="text-center"> - </th>
                <th class="text-center"> - </th>
                <th class="text-center"> - </th>
                <th class="text-center"> - </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let turno of turnos">
                <td class="text-center">
                    <div *ngIf="user.rol == 'paciente' else especialista" >
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left flex2">
                                    <img width="40" class="rounded-circle" [src]="turno.especialista.pathImg">
                                    <div class="widget-heading">{{turno.especialista.nombre}} {{turno.especialista.apellido}}</div>
                                    <div class="widget-subheading opacity-7">{{turno.especialista.email}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #especialista>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left flex2">
                                    <img width="40" class="rounded-circle" [src]="turno.paciente.pathImg">
                                    <div class="widget-heading">{{turno.paciente.nombre}} {{turno.paciente.apellido}}</div>
                                    <div class="widget-subheading opacity-7">{{turno.paciente.email}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </td>
                <td class="text-center text-muted">{{turno.especialidad}}</td>
                <td class="text-center">{{turno.fecha}}</td>
                <td class="text-center">
                    <div class="badge badge-warning" *ngIf="turno.estado == 'pendiente'">Pendiente</div>
                    <div class="badge badge-success" *ngIf="turno.estado == 'realizado'">Completado</div>
                    <div class="badge badge-info" *ngIf="turno.estado == 'aceptado'">Aceptado</div>
                    <div class="badge badge-danger" *ngIf="turno.estado == 'rechazado'">Rechazado</div>
                    <div class="badge badge-danger" *ngIf="turno.estado == 'cancelado'">Cancelado</div>
                </td>
                <ng-template [ngIf]="turno.historiaClinica">
                    <td class="text-center">{{turno.historiaClinica.peso}}</td>
                    <td class="text-center">{{turno.historiaClinica.altura}}</td>
                    <td class="text-center">{{turno.historiaClinica.temperatura}}</td>
                    <td class="text-center">{{turno.historiaClinica.presion}}</td>
                    <ng-template [ngIf]="turno.historiaClinica.camposDinamicos">
                        <td *ngFor="let campoDin of turno.historiaClinica.camposDinamicos">{{campoDin.valor}}</td>
                        <td class="text-center" *ngIf="turno.historiaClinica.camposDinamicos.length == 2"></td>
                        <ng-template [ngIf]="turno.historiaClinica.camposDinamicos.length == 1">
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </ng-template>
                    </ng-template>
                    <ng-template>

                    </ng-template>
                    <ng-template [ngIf]="!turno.historiaClinica.camposDinamicos">
                        <td class="text-center"></td>    
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </ng-template>

                </ng-template>
                <ng-template [ngIf]="!turno.historiaClinica">
                    <td class="text-center"> </td>
                    <td class="text-center"> </td>
                    <td class="text-center"> </td>
                    <td class="text-center"> </td>
                    <td class="text-center"> </td>
                    <td class="text-center"> </td>
                    <td class="text-center"> </td>
                </ng-template>
                <!-- <div *ngIf="user.rol == 'especialista'">
                </div> -->

                <td class="text-center">
                    <div *ngIf="turno.estado == 'pendiente'">
                        <div *ngIf="user.rol == 'especialista'">
                            <button (click)="confirmTurno(turno)" class="btn-icon btn-icon-only btn btn-outline-success">Aceptar</button>
                            <button (click)="openDialogComment(turno, 'rechazado', 'Rechazar turno')" class="btn-icon btn-icon-only btn btn-outline-danger">Rechazar</button>
                        </div>
                        <div *ngIf="user.rol == 'paciente'">
                            <button (click)="openDialogComment(turno, 'cancelado', 'Cancelar turno')" class="btn-icon btn-icon-only btn btn-outline-danger">Cancelar</button>    
                        </div>
                    </div>
                    <div *ngIf="turno.estado == 'aceptado'">
                        <div *ngIf="user.rol == 'especialista'">
                            <button (click)="atenderTurno(turno)" class="btn-icon btn-icon-only btn btn-outline-success">Realizar</button>
                        </div>
                        <button (click)="openDialogComment(turno, 'cancelado', 'Cancelar turno')" class="btn-icon btn-icon-only btn btn-outline-danger">Cancelar</button>
                    </div>
                    <div *ngIf="turno.comentario">
                        <button (click)="openDialogViewComment(turno)" class="bi bi-journal-minus btn btn-info"></button>
                    </div>
                    <div *ngIf="user.rol == 'paciente' && turno.estado == 'realizado'">
                        <button (click)="openDialogComment(turno, 'realizado', 'Calificar atención')" class="btn btn-primary mt-1">Calificar</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '33vw', height: '24vw'}"
[draggable]="false" [resizable]="false" styleClass="p-fluid">
        <div *ngIf="!viewComent">
            <app-comment-dialog-turno [title]="titleDialog" [calificar]="califica" (comentarioEvent)="sendComment($event)"></app-comment-dialog-turno>
        </div> 
        <div *ngIf="viewComent">
            <div class="mb-3" *ngIf="turnoSelecc.diagnostico">
                <label>Diagnostico</label>
                <input [value]="turnoSelecc.diagnostico" class="form-control form-style input" readonly/>    
            </div>
            <label>Comentario</label>
            <textarea [value]="turnoSelecc.comentario" class="form-control form-style input" style="height: 250px;" readonly></textarea>
        </div>
</p-dialog>


<div *ngIf="user.rol == 'especialista' &&  displayModalAtender">
    <p-dialog [(visible)]="displayModalAtender" [modal]="true" [style]="{width: '50vw', height: '40vw'}"
    [draggable]="false" [resizable]="false" styleClass="p-fluid">
        <app-atender-paciente [turno]="turnoSelecc" (turnoWithHistoriaClin)="finalizarTurno($event)"></app-atender-paciente>
    </p-dialog>
</div>