<header>
    <div class="headerimgbx">
      <div class="header-im">
        <img  class="headerimg" src="../../../assets/background.jpg" alt="">
        <div class="textbx">
          Lasting impressions that you love.
        </div>
      </div>
    </div>
    <div class="header-rig">
      <div class="headertext-bx">
        <h1 class="title">Bienvenido a la clinica online
        </h1>
        <p class="txt">En nuestra clinica podra acceder de forma fácil y administrar sus turnos como usted quiera. Además tenemos la posibilidad de atención totalmente online. </p>
        <a [routerLink]="['/Login']"  class="buttn">Sign In</a>
      </div>
      <br>  
      <div class="socialbx">
        <!-- <div class="social-item">
          <p class="sctext">Instagram</p>
          <div class="iconbx">
            <i class="fab fa-instagram"></i>
          </div>
        </div> -->
        <div class="social-item">
          <p class="sctext">Linkedin</p>
          <div class="iconbx">
            <i class="bi bi-linkedin"></i>
          </div>
        </div>

        <div class="social-item">
          <p class="sctext">Github</p>
          <div class="iconbx">
            <i class="bi bi-github"></i>
          </div>
        </div>
      </div>
    </div>

  </header>