<div id="cont-pdf">
  <div class="row justify-content-center" *ngIf="showHead">
    <div class="col-6 align-items-center">
        <div id="header" class="primary-colors col-12">
            <div class="profile-pic" [ngStyle]="{ 'background-image': 'url(' + paciente.pathImg + ')'}">
            </div>
            <div class="profile-summary ml-4">
              <h1>{{ paciente.nombre }} {{paciente.apellido}}</h1>
            </div>
      </div>
    
      <div id="contacts" class="secondary-colors">
        <a>
          <i class="fas fa-address-card"></i>{{paciente.dni}}
        </a>
        <a>
          <i class="fas fa-envelope"></i>{{paciente.email}}
          </a>
        <a>
            <i class="fas fa-calendar-day"></i>{{paciente.edad}} años
          </a>
      </div>
    </div>
  </div>
  <div class="search-wrapper" [ngClass]="{'active': activeSearch}">
    <div class="input-holder">
        <input type="text" [(ngModel)]="filter" (change)="onFilter()" class="search-input" placeholder="Ingrese una especialidad">
        <button class="search-icon" (click)="activeSearch = true"><span></span></button>
    </div>
    <button class="close" (click)="activeSearch = false"></button>
  </div>
  <div class="row">
      <div class="col-5">
          <div class="offset-3 col-6">
              <h3 class="primary-colors section-head" style="cursor:default;">
                <i class="fas fa-business-time"></i> Turnos
              </h3>
          </div>
          <div class="my-card card">
            <div class="my-card__header card-header">
              <h3 class="my-card__header-title card-title"> Información del Turno</h3>
            </div>
          </div>
        </div>
      <div class="col-7">
          <div class="offset-3 col-6">
            <div class="row">
              <div class="col-10">
                <h3 class="primary-colors section-head" style="cursor:default;">
                  <i class="fas fa-business-time"></i> Historia
                </h3>
              </div>
              <div class="col-2 align-items-center align-self-center mb-2">
                <button class="btn-icon btn-icon-only btn btn-outline-danger" (click)="SavePDF()"><i class="bi bi-filetype-pdf"></i></button>
              </div>
            </div>
          </div>
          <div class="my-card card">
            <div class="my-card__header card-header">
              <h3 class="my-card__header-title card-title">Información del paciente</h3>
            </div>
          </div>
        </div>
  </div>
  
  <div class="row" *ngFor="let hist of filterHistoriaClinica">
      <div class="col-5">
          <div class="my-list list-group list-group-flush">
              <div class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                      <span class="my-list-item__date-day">{{hist.fecha.split(" - ")[0].toString()}}</span>
                      <span class="my-list-item__date-day text-center">{{hist.fecha.split(" - ")[1].toString()}}</span>
                  </div>
                  <div class="my-list-item__text">
                      <h4 class="my-list-item__text-title">Diagnostico</h4>
                      <p class="my-list-item__text-description">{{hist.diagnostico}}</p>
                    </div>
                    <div class="my-list-item__text">
                      <h4 class="my-list-item__text-title">Atendido por</h4>
                      <p class="my-list-item__text-description">{{hist.especialista.nombre}} {{hist.especialista.apellido}}</p>
                    </div>
                    <div class="my-list-item__text">
                      <h4 class="my-list-item__text-title">Especialidad</h4>
                      <p class="my-list-item__text-description">{{hist.especialidad}}</p>
                    </div>
              </div>
              <hr>
            </div>
      </div>
      <div class="col-7">
          <div class="my-list list-group list-group-flush">
              <div class="my-list-item list-group-item">
                <div class="my-list-item__text">
                  <h4 class="my-list-item__text-title">Altura</h4>
                  <p class="my-list-item__text-description">{{hist.historiaClinica.altura}}</p>
                </div>
                <div class="my-list-item__text">
                  <h4 class="my-list-item__text-title">Peso</h4>
                  <p class="my-list-item__text-description">{{hist.historiaClinica.peso}}</p>
                </div>
                <div class="my-list-item__text">
                  <h4 class="my-list-item__text-title">Presión</h4>
                  <p class="my-list-item__text-description">{{hist.historiaClinica.presion}}</p>
                </div>
                <div class="my-list-item__text">
                  <h4 class="my-list-item__text-title">Temperatura</h4>
                  <p class="my-list-item__text-description">{{hist.historiaClinica.temperatura}}</p>
                </div>
                <div class="my-list-item__text" *ngFor="let campos of hist.historiaClinica.camposDinamicos">
                    <h4 class="my-list-item__text-title">{{campos.clave}}</h4>
                    <p class="my-list-item__text-description">{{campos.valor}}</p>
                </div>
              </div>
            </div>
            <hr>
      </div>
  </div>
</div>
