.primary-colors {
  color: #fff;
  background: #4285F4;
}

.secondary-colors {
  color: #fff;
  background: #4d8ff8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


#header {
  display: flex;
  align-items: center;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#header .profile-summary {
  padding: 16px;
  flex: 1;
}

#header .profile-pic {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: 50% 50%;
  margin: 8px;
  border: 4px solid #fff;
  border-radius: 50%;
  align-self: center;
  box-shadow: inset -4px -4px 16px rgba(0, 0, 0, 0.7);
}

#header .profile-summary h1 {
  margin: 0;
}

#contacts {
  display: flex;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

#contacts a {
  flex: 1;
  padding: 12px 8px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

#contacts a:hover {
  background: rgba(255, 255, 255, 0.2);
}

i.fas {
  margin-right: 8px;
}


.section-head {
  padding: 12px 16px;
  border-radius: 50px;
  margin: 8px 0 0 8px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 1.875rem;
}

.section-head.bordered {
  background: #fff;
  border: 1px solid #000;
}

.primary-colors {
    color: #fff;
    background: #4285F4;
  }
  
    
  .section-head {
    padding: 12px 16px;
    border-radius: 50px;
    margin: 8px 0 0 8px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 1.875rem;
  }
  
  .section-head.bordered {
    background: #fff;
    border: 1px solid #000;
  }

  
.my-app__body {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
  
  .my-card:not(:last-child) {
    margin-bottom: 1.875rem;
  }
  
  .my-card__header {
    display: flex;
    padding: 1.5rem 1.875rem;
    border-width: 0 0 1px;
    /* border-bottom: 1px solid #eaedf3; */
    border-color: rgba(0, 0, 0, .125);
    background: none;
  }
  
  .my-card__header-title {
    flex: 1;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  
  .my-card__header-link {
    color: #9ea0a5;
    /* 14px is default font size */
  }
  
  .my-card__header-link:hover,
  .my-card__header-link:focus {
    color: #9ea0a5;
  }
  
  .my-card__body {
    padding: 1.5rem 1.875rem;
  }
  
  /* My list */
  .my-list-item {
    display: flex;
    padding: 1rem 1.875rem;
  }
  
  .my-list-item__date,
  .my-list-item__text,
  .my-list-item__fee {
    display: flex;
    flex-direction: column;
  }
  
  .my-list-item__date {
    flex-direction: column;
    margin-right: 25px;
    color: #9ea0a5;
  }
  
  .my-list-item__date-day {
    font-size: 18px;
    line-height: 22px;
  }
  
  .my-list-item__date-month {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
  }
  
  .my-list-item__text {
    flex: 1;
  }
  
  .my-list-item__text-title {
    margin: 0 0 7px;
    /* 14px is default font size */
    font-size: 14px;
    font-weight: 500;
  }
  
  .my-list-item__text-description {
    margin: 0;
    color: #9ea0a5;
    font-size: 12px;
    line-height: 14px;
  }
  
  .my-list-item__fee {
    text-align: right;
  }
  
  .my-list-item__fee-delta {
    color: #3BAD4B;
    /* 14px is default font size */
    font-weight: 500;
  }
  
  .my-list-item__fee-currency {
    color: #9EA0A5;
    font-size: 12px;
  }
  
  /* My inline-list */
  .my-list-inline li:not(:last-child) {
    margin-bottom: .5rem;
  }
  